<% if object.errors.any? %>
<%= "#{object.class} could not be saved." %>
  <ul class="error">
    <% object.errors.messages.each do |k,v| %>
      <li><%= flash[:error] = "'#{k.to_s}' #{v[0].to_s}" %></li>
    <% end %>
  </ul>
<% end %>
