<h1>Stories</h1>

<%= link_to "New Story", new_story_path %>
<br /><br />

<table>
  <th>Name</th>
  <th>Business Value</th>
  <th>Complexity</th>

  <% @stories.each do |story| %>
    <tr>
      <td><%= link_to story.i_want_to, edit_story_path(story) %></td>
      <td><%= story.value %></td>
      <td><%= story.complexity %></td>
      <td></td>
    </tr>

<% end %>
