<h1>New Story</h1>

<%= form_for @story, :validate => true do |builder| %>
<%= render "form_fields", :builder => builder %>


<%= builder.submit 'Save Story' %>
<%= link_to 'Cancel', stories_path %>

<% end %>